/*************ELEMENT SELECTORS**************/
body {
  margin: 0;
  text-align: center;
font-family: 'Raleway', sans-serif;
color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
  color: #66BFBF;
    font-weight: normal;
}

h3 {
  font-family: 'Sacramento', sans-serif;
  font-size: 2rem;
  color: #11999E;
}

h4 {
font-family: 'Julius Sans One', sans-serif;
}

h5 {
font-family: 'Julius Sans One', sans-serif;
}

h6 {
font-family: 'Julius Sans One', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  width: 4%;
  margin: 100px auto;
  border: dotted #eaf6f6 10px;
  border-bottom: none;

}

p {
  line-height: 2;
}

/*************CLASS SELECTORS******************/
.top-container {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}


.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.middle-container {
background-color: white;
}

.profile {
width: 30%;
margin: 50px auto 100px auto;
}

.profile-image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.skills {
  margin: 100px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skills-one-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills-two-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  margin: 50px auto 100px auto;
  width: 40%;
}

.bottom-container {
  background-color: #66bfbf;
padding-top: 50px;
padding-bottom: 20px;
  color: #eaf6f6;
}

.footer-link {
      word-spacing: 1rem;
        margin: 10px 20px;
}

.btn {
	background-color:#11999e;
	border-radius:8px;
	border:1px solid #11999e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Raleway';
	font-size:16px;
	padding:10px 20px;
	text-decoration:none;
}

.btn:active {
	position:relative;
	top:1px;
}

.copyright {
  font-size: 0.75rem;
  color: #eaf6f6;
}

.credits {
  font-size: 0.6rem;
}
